<div class="row">
  <div class="col-md-10">
    <section id="campagne">
      <h2>Campagne</h2>
      <div class="alert alert-danger" role="alert" *ngIf="erreur != null">
        <p> {{erreur.message}}</p>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Propriétés d'une campagne</h3>
        </div>
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Nom</label>
            <div class="col-md-10 aligneCampagne">{{campagne.nom}}</div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Debut</label>
            <div class="col-md-4 aligneCampagne">{{campagne.debut| date : 'dd/MM/yyyy'}}</div>
            <label class="col-md-2 control-label">Fin</label>
            <div class="col-md-4 aligneCampagne">{{campagne.fin| date : 'dd/MM/yyyy'}}</div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Classe</label>
            <div class="col-md-10 aligneCampagne">{{campagne.nomClasse}}</div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Conseil</label>
            <div class="col-md-4 aligneCampagne">{{campagne.nomConseil}}</div>
            <label class="col-md-2 control-label">Date de Conseil</label>
            <div class="col-md-4 aligneCampagne">{{campagne.dateConseil| date : 'dd/MM/yyyy'}}</div>
          </div>

          <div class="btn-group col-md-offset-10 col-md-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#editerCampagne"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Modifier</button>
          </div>

        </div>

        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Ordre</th>
                <th>Intitulé<br/>Principal / Secondaire</th>
                <th>Type / Propositions</th>
                <th>Local</th>
                <th>Obligatoire</th>
                <th>Statut</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let question of campagne.questions">
                <td>{{question.ordre}}</td>
                <td>
                  <span *ngIf="question.intitule_principal">1: {{question.intitule_principal}}</span>
                  <span *ngIf="question.intitule_secondaire"><br/> 2: {{question.intitule_secondaire}}</span>
                </td>
                <td>{{question.typeLibelle}}
                  <span *ngFor="let proposition of question.propositions"><br/>{{proposition.libelle}}</span>
                </td>
                <td><span class="glyphicon glyphicon-ok text-success" *ngIf="question.est_global == true"></span></td>
                <td><span class="glyphicon glyphicon-remove text-danger" *ngIf="question.est_global == false"></span></td>
                <td><span class="glyphicon glyphicon-ok text-success" *ngIf="question.est_obligatoire == true"></span></td>
                <td><span class="glyphicon glyphicon-remove text-danger" *ngIf="question.est_obligatoire == false"></span></td>
                <td><span class="glyphicon glyphicon-ok text-success" *ngIf="question.est_actif == true"></span></td>
                <td><span class="glyphicon glyphicon-remove text-danger" *ngIf="question.est_actif == false"></span></td>                <td>
                  <div class="btn-group">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#editerQuestion"><span class="glyphicon glyphicon-zoom-in"></span></button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirmerSupprimerQuestion"><span class="glyphicon glyphicon-remove"></span></button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>

        <div class="panel-footer">
          <div class="col-md-2">
            <button class="btn btn-success" data-toggle="modal" data-target="#editerQuestion">
										<span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter question
									</button>
          </div>
          <div class="col-md-offset-6 col-md-2">
            <p>(x) question(s)</p>
          </div>
        </div>

      </div>

    </section>
  </div>

  <div class="col-md-2">
    <aside>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Aide en ligne</h3>
          </div>
          <div class="panel-body">
            <p>Aide contextuelle</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Favoris</h3>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;First item</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;Second item</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;Third item</a>
          </div>
        </div>
      </div>
    </aside>
  </div>

</div>

<!-- Boite Modale : confirmerSupprimerQuestion -->
<div class="modal fade" id="confirmerSupprimerQuestion" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Suppression Question</h4>
      </div>
      <div class="modal-body">
        <p>Confirmez-vous la suppression de la question suivante ?<br/><br/> "Votre enfant est-il adorable ?"
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Boite Modale : editerCampagne -->
<div class="modal fade" id="editerCampagne" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editer Campagne</h4>
      </div>
      <div class="modal-body">
        <form action="#" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="campagne.nom" class="col-md-2 control-label">Nom</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="campagne.nom" name="campagne.nom" placeholder="Saisissez un nom">
            </div>
          </div>

          <div class="form-group">
            <label for="campagne.datedebut" class="col-md-2 control-label">Debut</label>
            <div class="col-md-4">
              <input type="date" class="form-control" id="campagne.datedebut" name="campagne.datedebut" placeholder="Saisissez une date de début">
            </div>
            <label for="campagne.datefin" class="col-md-2 control-label">Fin</label>
            <div class="col-md-4">
              <input type="date" class="form-control" id="campagne.datefin" name="campagne.datefin" placeholder="Saisissez une date de fin">
            </div>
          </div>

          <div class="form-group">
            <label for="campagne.classe" class="col-md-2 control-label">Classe</label>
            <div class="col-md-4">
              <select id="campagne.classe" name="campagne.classe" class="form-control">
									<option value="0" selected="selected" >Sélectionnez une classe</option>
									<option value="1" >6ème D</option>
									<option value="2" >1ère S B</option>
								</select>
            </div>
          </div>

          <div class="form-group">
            <label for="campagne.conseil" class="col-md-2 control-label">Conseil</label>
            <div class="col-md-4">
              <select id="campagne.conseil" name="campagne.conseil" class="form-control">
									<option value="0" selected="selected" >Sélectionnez un conseil de classe</option>
									<option value="1" >1er Trimestre</option>
									<option value="2" >2nd Trimestre</option>
									<option value="3" >3ème Trimestre</option>
								</select>
            </div>
            <label for="campagne.dateconseil" class="col-md-2 control-label">Date de Conseil</label>
            <div class="col-md-4">
              <input type="date" class="form-control" id="campagne.dateconseil" name="campagne.dateconseil" placeholder="Saisissez une date de conseil">
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Boite Modale : editerQuestion -->
<div class="modal fade" id="editerQuestion" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editer une question</h4>
      </div>
      <div class="modal-body">
        <form action="campagne/rechercher" method="post" class="form-horizontal">

          <div class="form-group">
            <label for="question.intitule1" class="col-md-2 control-label">Intitulé principal</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="question.intitule1" name="question.intitule1" placeholder="Saisissez une question">
            </div>
          </div>
          <div class="form-group">
            <label for="question.intitule2" class="col-md-2 control-label">Intitulé secondaire</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="question.intitule2" name="question.intitule2" placeholder="Saisissez une question secondaire">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Origine</label>
            <div class="col-md-3">
              <label for="question.origine.general" class="radio-inline">
									<input type="radio" id="question.origine.general" name=""question.origine"" value="0">Général</label>
              <label for="question.origine.local" class="radio-inline">
									<input type="radio" id="question.origine.local" name="question.origine" value="1" checked>Local</label>
            </div>
            <label class="col-md-2 control-label">Aide</label>
            <div class="col-md-3">
              <textarea class="form-control" id="question.aide" name="question.aide" rows="4" placeholder="Saisissez un texte d'aide"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Obligatoire</label>
            <div class="col-md-3">
              <label for="question.obligatoire.non" class="radio-inline">
									<input type="radio" id="question.obligatoire.non" name="question.obligatoire" value="0">Non</label>
              <label for="question.obligatoire.oui" class="radio-inline">
									<input type="radio" id="question.obligatoire.oui" name="question.obligatoire" value="1" checked>Oui</label>
            </div>
            <label class="col-md-2 control-label">Statut</label>
            <div class="col-md-3">
              <label for="question.statut.inactive" class="radio-inline">
									<input type="radio" id="question.statut.inactive" name="question.statut" value="0">Inactif</label>
              <label for="question.statut.active" class="radio-inline">
									<input type="radio" id="question.statut.active" name="question.statut" value="1" checked>Actif</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Type</label>
            <div class="col-md-10">
              <label for="question.type.libre" class="radio-inline">
									<input type="radio" id="question.type.libre" name="question.type" value="0">Texte Libre</label>
              <label for="question.type.unique" class="radio-inline">
									<input type="radio" id="question.type.unique" name="question.type" value="1" checked>Choix Unique</label>
              <label for="question.type.multiple" class="radio-inline">
									<input type="radio" id="question.type.multiple" name="question.type" value="2" checked>Choix Multiple</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Propositions</label>
            <div class="col-md-4">
              <input list="propositions" class="form-control" id="question.proposition" name="question.proposition" placeholder="Saisissez une question proposition">
              <datalist id="propositions">
                <option value="Oui">
                  <option value="Non">
                    <option value="Bon">
                      <option value="Moyen">
                        <option value="Mauvais">
              </datalist>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-md-4">
              <div class="list-group">
                <a href="#" class="list-group-item active">First item</a>
                <a href="#" class="list-group-item">Second item</a>
                <a href="#" class="list-group-item">Third item</a>
              </div>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button>
              <br/>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
              <br/>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>